*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color: #ffff; /*Aqui a gente cria uma variável para cores*/
    --bg-url: url(./assets/bg-mobile-preto-web.webp);
    --strocke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --suface-color-social-hover: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
    --text-color: #000;
    --bg-url: url(./assets/bg-mobile-branco.jpg);
    --strocke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --suface-color-social-hover: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(./assets/sun.svg);

}


body{ /*usando um body so para colocar um backgroun*/
    /*
    background-image: url(./assets/assets/bg-mobile.jpg);/*Subo uma imagem do meu pc como background*/
    /*background-repeat: no-repeat; /*Faz a imagem não repitir*/
    /*background-position: top center; /*Coloca o eixo central no centro realemente*/
    /*background-size: cover; /*faz a imagem preencher todo fundo*/
    
    /*Posso pegar todo esse blco de código do background e colocar em uma linha só */

    background: var(--bg-url) no-repeat top center/cover;

    /*Esse tipo de "abreviação" é chamado de short hend (atalho) ele segue o padão: background: color imagem repeat position/size;*/

    height: 100vh;
}

body * { /* Esse * diz que tudo o que esta sendo indicado por esse body será para toda a página*/
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    text-align: center;

}

#container {
    width: 360px;   /*Essa é minha largura */
    max-width: 588px;/*Aqui adiciona um maximo de largura para o container, ou seja, ajusta para qualquer tela  */

    margin-left: auto; 
    margin-right: auto;
    margin-top: 56px auto 0px;

    /*border: 1px solid red; Define um tamanho de borda e cor*/  
    /*margin-left: auto;  Margem na esquerda
    margin-right: auto; Margem na direita
    Posso resumir essas margin em: 
    margin: auto Ela coloca um preenchimento de margem automatica*/;
    /*margin-top: 56px;*/

    /*O margin ele funciona como relogio:
    margin: cima direita baixo esquerda
    Ou seja eu posso fazer isso: 
    margin: 56px auto 12px auto; 56px vai ser aplicado em cima, auto vai ser aplicado na direita, e assim por diante 
    */
    
}

#profile {
    text-align: center;
    padding: 24px;
}

#profile img{ /*Imagens são elementos em linha enline */
    width: 112px; /*Tamanho do icone macaco*/
}

#perfil-name{
    /*border: 1px solid red;*/
    font-weight: 500;
    display: flex center;
    line-height: 0px;
    margin: auto;
    font-weight: 500;
}

/*Links*/

ul{
    list-style: none;/*To tirando a bolinha que fica no canto esquerdo do links*/
}

ul li a{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;

    padding: 16px 32px;

    background: var(--surface-color);
    border: 1px solid var(--strocke-color);
    border-radius: 8px;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px); /*-webkit- serve para alguns navegadores que precisam
    desse webkit para usar essa propriedade do css*/

    text-decoration: none;
    font-weight: 500;
    
    transition: all 0.9s;
}

ul li a:hover{ /*Esse cara que faz possível eu "animar" o meu botao ao passar o mouse por cima*/
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

#social-links{
    display: flex;
    justify-content: center;
    
    margin-top: 28px;

    font-size: 32px;

}

#social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;

    transition: background 0.3s;
    border-radius: 50%;
}

#social-links a:hover{
    background: var(--suface-color-social-hover);
    padding: 16px;
    
}

footer{
    padding: 24px 0;
    text-align: center;
    
    text-decoration: none;
}

/*Switch*/

#switch{
    position: relative;
    width: 64px;

    margin: 28px auto;
}


#switch button{
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 80;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1; 
    transform: translateY(-50%);
    animation: slide-out 1s forwards;

}

.light #switch button {
    animation: slide-in 1s forwards;
    
}

#switch span{
    display: block;

    width: 64px;
    height: 24px;

    background: var(--surface-color);
    border: 1px solid var(--strocke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 99999px;
}

/*Brincando*/

/*Esse código aqui faz colocar um oii! saltitante */
/* body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

h1 {
  margin: 10;
}

h1 span {
  position: relative;
  top: 1px;

  font-family: "Lato", sans-serif;
  color: rgb(255, 255, 255);

  display: inline-block;
  font-size: 3rem;

  mesmo “look” do print: sombras repetidas + sombra final rgba 
    text-shadow:
    0 1px 0 #b7b7b7,
    0 2px 0 #b7b7b7,
    0 3px 0 #b7b7b7,
    0 4px 0 #b7b7b7,
    0 5px 0 #b7b7b7,
    0 6px 0 #b7b7b7,
    0 7px 0 #b7b7b7,
    0 8px 0 #b7b7b7,
    0 9px 0 #b7b7b7,
    0 10px 10px rgb(255, 255, 255);

  animation: bounce 0.4s ease infinite alternate;
}

@keyframes bounce {
  100% {
    top: -20px;
    text-shadow:
      0 1px 0 #ccc,
      0 2px 0 #ccc,
      0 3px 0 #ccc,
      0 4px 0 #ccc,
      0 5px 0 #ccc,
      0 6px 0 #ccc,
      0 7px 0 #ccc,
      0 8px 0 #ccc,
      0 9px 0 #ccc,
      0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

delays por letra;
    h1 span:nth-child(2) { animation-delay: 0.1s; }
    h1 span:nth-child(3) { animation-delay: 0.2s; }
    h1 span:nth-child(5) { animation-delay: 0.3s; } 


*/

@media (min-width: 700px){
    :root{
        --bg-url: url(./assets/bg-pc-preto-web.webp);
    }

    .light{
        --bg-url: url(./assets/bg-pc-branco-web.webp);
    }
}

/*Animações */
@keyframes slide-in {
    from{
        left: 0;
    } to{
        left: 50%;
    }

}

@keyframes slide-out {
    from{
        left: 50%;
    } to{
        left: 0;
    }

}
